html {
	font-family: tahoma;
}

img {
	box-shadow: 0 0 10px #000;
	width: 200px;
	margin: 10px;
	border-radius: 10px;
}

img:hover {
	box-shadow: 10px 10px 10px red;
}

h1 {
	text-align: center;
}